*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
/* transition-delay:2s; */
.box {
  width: 150px;
  height: 150px;
  background: yellow;
transition-delay:2s;
}

.box:hover {
  background-color: green;
  cursor: pointer;
  width:300px;
}
/* transition-duration: 5s; */
.box1 {
  width: 150px;
  height: 150px;
  background: yellow;
transition-duration: 5s;
}

.box1:hover {
  background-color: green;
  cursor: pointer;
    width:300px;
}
/* transition-property: width height; */
.box2 {
  width: 150px;
  height: 150px;
  background: yellow;
 transition-property: width height;

}

.box2:hover {
  background-color: green;
  cursor: pointer;
  width:300px;
  height:300px;
}
 /* transition-timing-function: ease; */
.box3 {
  width: 150px;
  height: 150px;
  background: yellow;
 transition-timing-function: ease;
 transition:width 5s;


}

.box3:hover {
  background-color: green;
  cursor: pointer;
  width:300px;
 
}
/* transition-timing-function: linear; */
.box4 {
  width: 150px;
  height: 150px;
  background: yellow;
 transition-timing-function: linear;
transition:width 5s;


}

.box4:hover {
  background-color: green;
  cursor: pointer;
  width:300px;

}
/* transition-timing-function: ease-in; */
.box5 {
  width: 150px;
  height: 150px;
  background: yellow;
transition-timing-function: ease-in;
transition:5s;

}

.box5:hover {
  background-color: green;
  cursor: pointer;
  width:300px;

}
/* transition-timing-function: ease-out; */
.box6 {
  width: 150px;
  height: 150px;
  background: yellow;
transition-timing-function: ease-out;
transition:width 5s;

}

.box6:hover {
  background-color: green;
  cursor: pointer;
  width:300px;

}
/* transition-timing-function: ease-in-out; */
.box7 {
  width: 150px;
  height: 150px;
  background: yellow;
transition-timing-function: ease-in-out;
transition:width 5s;

}
.box7:hover {
  background-color: green;
  cursor: pointer;
  width:300px;
 
}
/* transition-timing-function: cubic-bezier(0,0,1,1); */
.box8 {
  width: 150px;
  height: 150px;
  background: yellow;
transition-timing-function: cubic-bezier(0,0.5,0.3,0.7);
transition:width 5s;

}

.box8:hover {
  background-color: green;
  cursor: pointer;
  width:300px;
 
}
